@media only screen and (max-width: 500px) {

    #searchElem {
        display: flex;
        align-items: flex-start;
    }
    #searchButton {
        background: url(search-svgrepo-com.svg) 0 0 no-repeat;
        width: 30px; 
        height: 30px; 
        display: block;
        transform: scale(77%);
        position: absolute;
        margin-left: 0px;
        bottom: 0px;
        
    
    }

    #main-container {
        padding: 3px;
        display: inline-block;
        flex-direction: column;
        justify-content: start;
    }

    header {
        line-height: 1.4;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width:90%;
        /* position: relative;
        right: 45px; */
        
    }
    .titles, .values {
        display: inline-block;
    }

    #second-main-container {
        padding: 3px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }

}


* {
    margin: 0px;
}

@font-face {
    font-family: linuxFont;
    src: url(JosefinSans-VariableFont_wght.ttf);
  }

html {
    padding: 0px;
    margin:10px
}

div {
    font-family: linuxFont;
    color:lightcyan;
}

body {
    margin: auto;
    background-color: #0b212fca;
}
#main-container {
    padding: 3px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

/* #second-main-container {
    display: block;
    justify-content: flex-start;
    width: 100%
} */
header {
    line-height: 1.4;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    
}

#Titles {
    display: block;
}

#title {
    margin-right: 10px
}
.titles, .values {
    display: inline-block;
}

#searchElem {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 5px;
}

#searchContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 180px;
}

#subTitle {
    font-size: small;
    position: relative;
    display: inline-block;
    top: -8px;
    left: -5px;
    
}

#sun {
    display: inline-block;
    background: url(sun.svg) 0 0 no-repeat;
    height:15px;
    width:15px;
    position: relative;
    top: -7px;
    left: -1px;
    background-size: 15px 15px;
    background-position: 0px 0px;
}
#content-result {
    display:none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left:0px;
    width: 100%;
}
.subBlocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
}

#search {
    padding: 2px; 
    font-size: 1.3em;
    inline-size: 160px;
    line-height: 20px;
    border-color: rgb(95, 72, 117);
    border:none;
}

#searchButton {
    background: url(search-svgrepo-com.svg) 0 0 no-repeat;
    text-indent: -99999px; 
    width: 30px; 
    height: 30px; 
    display: block;
    transform: scale(60%);
    position: relative;
    left:-30px;
    

}

#searchButton:hover {
    transform: scale(75%);
    cursor: pointer;
}

#localSvg {
    background: url(gps-pin-svgrepo-com.svg) 0 0 no-repeat;
    width: 30px;
    height: 30px;
    scale: 0.7;
}
#tempSvg {
    background: url(temp.svg) 0 0 no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    scale: 0.8;
    
}
#feelSvg {
    background: url(feel.svg) 0 0 no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    scale: 0.7;
}
#minSvg {
    background: url(down.svg) 0 0 no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    scale: 0.8;
    
}
#maxSvg {
    background: url(up.svg) 0 0 no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    scale: 0.8;
    border: 0px solid black
    
}

#humidSvg {
    background: url(humid.svg) 0 0 no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    scale: 0.8;
    border: 0px solid black
}

#sub-container1 {
    width:800px;
    display: inline-block;
}

#humid, #maxTemp, #minTemp, #tempFeel, #temp, #name {
    background-color: #11344a78;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 2px;

}
#sub-container2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: nowrap;
    
}

#weather-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
    
}

#weather{
    size: 50%;
    margin: -20px;
}

img {
    scale: 50%;
    padding: -30px;
    margin: -20px
}

@media only screen and (max-width: 500px) {

    #content-result {
        display:none;
        flex-direction: column;
        align-items: flex-start;
        margin-left:0px;
        width: 200px;
        height: 200px;
    }

    .subBlocks{
        display: flex;
        flex-direction: row;
        border-right: 0px;
        margin: 2px;
    }
    #sub-container1 {
        width: 100%;
        display: inline-block
    }
    #second-main-container {
        margin-bottom: 5px;
    }
    img {
        scale: 100%;
        padding: -20px;
        margin: -10px
    }
    
}